* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

html {
  background-color: #222;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
td {
  background-color: lightgray;
height: 50px;
width: 50px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.tan {
  background-color: tan;
}

td {
  border-collapse: collapse;
}
/* your CSS below! */
